{% extends '../home.html' %}
{% block content %}
<article>
<h1>#{{ toto.id }} - {{ toto.title}}</h1>

<p id="article">{{ toto.body}}</p>
<div id="image_show">
<center>
<img src="{{ toto.image }}" alt="">
</center>
</div>

<p class="time"><time datetime="{{ toto.created_at|date:'Y-m-d'}}">Posted : {{ toto.created_at|timesince }} ago</time></p>

</article>
<a id="retour" class="nav-link" href="{% url 'blog:index' %}">Retour aux Articles</a>
<!--comments -------------------------------->

{% for comment in comments %}
<article>
  <h2>{{ comment.id | length }} Commentaires</h2>

  <p class="time"><time datetime="{{ comment.created_at|date:'Y-m-d'}}">Posted : {{ comment.created_at|timesince }} ago</time></p>
  <p >{{ comment.content }}</p>

</article>
{% endfor %}

<!--formulaire comments -------------------------------->
<form method="post" role="form" action="">
  {% csrf_token %}
  <fieldset>

    <div class="form-group">
      <label for="exampleTextarea">Example textarea</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Poster</button>

  </fieldset>
</form>


{% endblock %}
