{% extends '../home.html' %}
{% block content %}
<article>
<h1>#{{ toto.id }} - {{ toto.title}}</h1>

<p id="article">{{ toto.body}}</p>
<div id="image_show">
<center>
<img src="{{ toto.image }}" alt="">
</center>
</div>

<p class="time"><time datetime="{{ toto.created_at|date:'Y-m-d'}}">Posted : {{ toto.created_at }} </time></p>

</article>
<a id="retour" class="nav-link" href="{% url 'blog:index' %}">Retour aux Articles</a>
<br>
<!--formulaire comments ------------------------------------------------------------------------->
{% if user.username %}

<form class="comBlock" method="POST" role="form" action="">
  {% csrf_token %}
  
    <div class="form-group">
      <label for="exampleTextarea">Commenter en tant que <b>{{ user.username }}</b></label>
      <textarea name="content" class="form-control" required id="id_content" rows="3"></textarea>
    </div>

    <button type="submit" value="Submit" class="btn btn-primary">Poster</button>
</form>
{% endif %}
<!--comments ------------------------------------------------------------------------------->
<hr><center><h2>{{ comments.count }} commentaire{{ comments|pluralize }}</h2>
{% if not user.username %}
<a class="btn btn-outline-danger" href="{% url 'blog:login' %}">Veuillez vous connecter pour pouvoir commenter</a>
{% endif %}
</center><hr>


{% for comment in comments %}
<article>

  <p id="commentaires" >{{ comment.content }}</p>
  <p class="time"><time datetime="{{ comment.created_at|date:'Y-m-d'}}">Posted : {{ comment.created_at|timesince }} ago by {{ comment.user.username }}</time></p>

</article>
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}

{% endblock %}
